{% load cms_tags %}
<div class="form-check mb-3{% if request.POST and not field.errors %} was-validated{% endif %}">

    {{ field }}

    {% if field.label %}
      <label class="form-check-label" for="{{ field_id }}">{{ field.label }}</label>
    {% endif %}

    <div class="invalid-feedback">{{ field.errors|join:". " }}</div>

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}

    {% for plugin in instance.child_plugin_instances %}
      {% render_plugin plugin %}
    {% endfor %}
</div>
