{% load cms_tags i18n %}
{% spaceless %}
  <div class="form-group">
    {% if field.label %}
      <label for="{{ field.id }}">{{ field.label }}</label>
    {% endif %}

    {% if field.widget.template_name %}
      {% include field.widget.template_name with widget=field.widget %}
    {% endif %}

    {% if field.widget.type == "file" and field.widget.value %}
      <h5 class="mt-1">{% trans 'Current Files' %}</h5>
      <ul class="list-group">
        {% for file in field.widget.value %}
          <li class="list-group-item">
            <a href="{{ file }}" target="_blank">{{ file }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if errors %}
      <div class="invalid-feedback">
        {{ errors|join:". " }}
      </div>
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
    {% for plugin in instance.child_plugin_instances %}
      {% render_plugin plugin %}
    {% endfor %}
  </div>
{% endspaceless %}