{% load cms_tags i18n sekizai_tags static %}

{% block form %}
  <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% block form_header %}
      {% if request.POST %}
        {% if user_form.non_field_errors %}
          <div class="alert alert-danger">
            <div class="lead">{{ instance.glossary.button_text }} {% trans "failed." %}</div>
            {{ user_form.non_field_errors }}
          </div>
        {% elif user_form.errors %}
          <div class="alert alert-danger">
            <div class="lead">{{ instance.glossary.button_text }} {% trans "failed." %}</div>
          </div>
        {% else %}
          <div class="alert alert-success lead">
            {{ instance.glossary.success_text }}
          </div>
        {% endif %}
      {% endif %}
    {% endblock form_header %}

    {% block form_plugins %}
      {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
      {% endfor %}
    {% endblock form_plugins %}

    {% block form_footer %}
      <input type="hidden" name="form-id" value="{{ instance.id }}">
      <input type="hidden" name="form-{{ instance.id }}" value="submit">
      <button type="submit" class="btn btn-primary">
        {{ instance.glossary.button_text }}
      </button>
    {% endblock form_footer %}
  </form>
{% endblock form %}
