{% load cms_tags sekizai_tags static %}

<form action="?fid={{ uuid }}" method="post" enctype="multipart/form-data">
  {% if success %}
    <div class="alert alert-success">
      {{ instance.glossary.success_text }}
    </div>
  {% endif %}

  {% csrf_token %}
  {% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
  {% endfor %}

  <input type="hidden" name="form-{{ instance.id }}" value="submit">
  <button type="submit" class="btn btn-primary">{{ instance.glossary.button_text }}</button>
</form>