{% load cms_tags i18n sekizai_tags static %}

{% block form %}
  <form action="{% if uuid %}?fid={{ uuid }}{% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% block form_header %}
      {% if success %}
        <div class="alert alert-success">
          {{ instance.glossary.success_text }}
        </div>
      {% endif %}
    {% endblock form_header %}

    {% block form_plugins %}
      {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
      {% endfor %}
    {% endblock form_plugins %}

    {% block form_footer %}
      <input type="hidden" name="form-id" value="{{ instance.id }}">
      <input type="hidden" name="form-{{ instance.id }}" value="submit">
      <button type="submit" class="btn btn-primary">
        {{ instance.glossary.button_text }}
      </button>

      {% if instance.glossary.reset_btn  %}
        <a href="?" class="btn btn-default">
          {% trans 'Reset' %}</a>
      {% endif %}
    {% endblock form_footer %}
  </form>
{% endblock form %}